@import '../../style-guide/index';

.filled-badge {
  border: 1px solid map-get($green, default);
  border-radius: 13px;
  background-color: map-get($green, default);
  color: map-get($monochrome, white);
  font-size: map-get($font-sizes, extra-small);
  font-family: $semibold-font;
  line-height: 12px;
  padding: map-get($gutter-widths, micro) map-get($gutter-widths, extra-small);
}
