@import '../../style-guide/index';

.general-alerts {
  display: flex;
  font-size: map-get($font-sizes, small);
  line-height: 20px;

  &__content {
    display: flex;
    width: 100%;
    padding: map-get($gutter-widths, small) map-get($gutter-widths, extra-large);
    word-break: break-word;

    &--type {
      &--success {
        background-color: map-get($green, light-tint);
      }

      &--error {
        background-color: map-get($red, ultralight-tint);
      }

      &--warning {
        background-color: map-get($orange, light-tint);
      }

      &--info {
        color: map-get($monochrome, default);
        background-color: map-get($monochrome, light-tint);
      }
    }
  }

  &__message-icon {
    display: flex;
    align-self: start;
    align-items: center;
    height: 20px;
    margin-right: map-get($gutter-widths, extra-small);

    &--type {
      &--success {
        color: map-get($green, default);
      }

      &--error {
        color: map-get($red, default);
      }

      &--warning {
        color: map-get($orange, default);
      }

      &--info {
        color: map-get($monochrome, default);
      }
    }
  }
}
