@import '../../style-guide/index';

.legend {
  display: flex;
  gap: map-get($gutter-widths, extra-large);
  font-size: map-get($font-sizes, extra-small);
  line-height: 16px;
  color: map-get($monochrome, default);

  &__item {
    display: flex;
    align-items: center;
    gap: map-get($gutter-widths, extra-small);
  }
}
