@import '../../../style-guide/index';

.button {
  display: flex;
  align-items: center;
  border-radius: 16px;
  outline: 0;
  cursor: pointer;

  & > :not(:last-child) {
    margin-right: map-get($gutter-widths, extra-small);
  }

  &--type {
    &--primary {
      border: 1px solid map-get($primary-blue, default);
      background-color: map-get($primary-blue, default);
      color: map-get($monochrome, white);
      font-family: $semibold-font;

      &:hover {
        border: 1px solid map-get($primary-blue, medium-tint);
        background-color: map-get($primary-blue, medium-tint);
      }

      &:active {
        border: 1px solid map-get($primary-blue, shade);
        background-color: map-get($primary-blue, shade);
      }
    }
    &--secondary {
      border: 1px solid map-get($primary-blue, default);
      background-color: map-get($monochrome, white);
      color: map-get($primary-blue, default);
      font-family: $semibold-font;

      &:hover {
        border: 1px solid map-get($primary-blue, medium-tint);
      }

      &:active {
        border: 1px solid map-get($primary-blue, shade);
      }
    }
  }

  &--size {
    &--large {
      line-height: 18px;
      padding: 6px map-get($gutter-widths, medium);
      font-size: map-get($font-sizes, small);
    }

    &--small {
      line-height: 14px;
      padding: map-get($gutter-widths, micro) map-get($gutter-widths, small);
      font-size: map-get($font-sizes, extra-small);
    }
  }

  &--disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}
