$font-sizes: (
  micro: 10px,
  extra-small: 12px,
  small: 14px,
  medium: 16px,
  large: 18px,
  extra-large: 20px,
  huge: 24px,
  extra-huge: 32px,
);

$gutter-widths: (
  micro: 4px,
  extra-small: 8px,
  small: 12px,
  medium: 16px,
  large: 20px,
  extra-large: 24px,
  huge: 28px,
  extra-huge: 32px,
);
